# 网站
Options +FollowSymLinks
Options -Indexes
ErrorDocument 400 /404.php

# 301永久重定向
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^kikiku\.com [OR]
RewriteCond %{HTTP_HOST} ^www\.kikiku\.com [NC]
RewriteRule ^(.*)$ http://www.kuu.ren/$1 [L,R=301]

# WordPress
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# generate_204
RewriteEngine On
RewriteCond %{REQUEST_URI} /generate_204$
RewriteRule $ / [R=204]